<div class="row">
    <div class="col">
        <h1>
						<%= link_to @song, title: 'Back' do %>
							<%= fa_icon "chevron-left" %>
						<% end %>
						Edit Song
					</h1>
    </div>
</div>
    
<%= render 'form', song: @song %>
